body {
	margin: 0px;
	padding: 0px;
	font-size: 1.5rem;
}

.parent {
	display: grid;
	/* grid-gap: 20px; */
	grid-template-areas:
		'box0 box0 box0 box0'
		'box1 box2 box2 box2'
		'box1 box3 box3 box3'
		'box4 box4 box4 box4';
}

.box0 {
	background-color: red;
	height: 200px;
	grid-area: box0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box1 {
	background-color: teal;
	height: 200px;
	grid-area: box1;
	height: 100%;
}

.box2 {
	background-color: green;
	height: 200px;
	grid-area: box2;
}

.box3 {
	background-color: yellow;
	height: 200px;
	grid-area: box3;
}

.box4 {
	background-color: orange;
	height: 200px;
	grid-area: box4;
}
