* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #ffffff;
  --dark: #000000;
  --light: #ffffff;
}

html {
  box-sizing: border-box;
  font-family: russo one;
  color: var(--light);
}

body {
  background: black;
  line-height: 1.4;
}

.button {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  margin-top: 60px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
}

.main-navig {
  margin-top: 10px;
}

.main-navig ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 2fr);
}

.main-navig a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-top: 90px;
  padding: 0.8rem;
  color: var(--light);
}

.search {
  margin: auto;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.box-container {
  display: flex;
}

.logo {
  width: 50%;
}

hr {
  height: 2px;
  background-color: white;
  position: relative;
  top: 10px;
}

.showcase {
  grid-area: showcase;
  min-height: 500px;
  background: url(/img/cyberpunk.png);
  background: cover;
  background-position: center;
  display: flex;
  position: relative;
  top: 50px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
}

.showcase h1 {
  text-align: center;
  font-size: 2rem;
}

.boxes1 {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  grid-gap: 120px;
  align-items: flex-end;
}

.boxes2 {
  grid-gap: 120px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 125px;
  display: grid;
}

.hr2 {
  height: 1px;
  color: grey;
  position: relative;
  top: 5px;
}

.button2 {
  font-family: russo one;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.title {
  margin-top: 90px;
}

.footer2 {
  margin-top: 42px;
  letter-spacing: 2px;
}

.container-icons {
  display: flex;
  margin-top: 120px;
}

.icons {
  width: 50%;
  letter-spacing: 8px;
  display: flex;
  justify-content: flex-end;
}

.payment {
  width: 50%;
}

@media (max-width: 1200px) {
  /*Desktop*/
}

@media (max-width: 991px) {
  /*Mobile*/
}

@media (max-width: 767px) {
  /*Mobile*/
}
